@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@500&display=swap');
.header {
	font-family: 'Black Han Sans', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
	background-image: url("img/house.png");
}